.background {
    -fx-background-color: #2A2E37;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #03CE28;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #03CE28;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 35pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #03CE28;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #2A2E37;
    -fx-control-inner-background: #2A2E37;
    -fx-background-color: #2A2E37;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #03CE28;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #03CE28;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #2A2E37 transparent #2A2E37;
    -fx-background-color: transparent, derive(#2A2E37,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: #2A2E37;
}

.context-menu {
    -fx-background-color: derive(#2A2E37,50%);
}

.menu-bar .label {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #03CE28;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: black;
}
.text-field {
 -fx-text-fill: white;	
}

.button {
    -fx-text-fill: white;
}
.button{
	-fx-border-color: #03CE28;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.button:hover {
    -fx-border-color: #03CE28;
	-fx-background-color: #03CE28;
}

.text-field {
	-fx-text-fill: white;
    -fx-font-size: 12pt; 
	-jfx-focus-color: #03CE28;
}
